extends layout

block content
  h1 Login

  form(action="/login" method="POST")
    .form-field
      label(for="username") username
      input.input-string(type="text" id="username" name="username")

    .form-field
      label(for="password") password
      input.input-string(type="password" id="password" name="password")

    .form-field
      button.submit-button(type="submit") send

  a(href="/register") register
