extends layout

block content
  form(action="/login" method="POST")
    .form-field.form-title
      h2 Login

    .form-field
      label(for="username") username
      input.input-string(type="text" id="username" name="username" required autofocus)

    .form-field
      label(for="password") password
      input.input-string(type="password" id="password" name="password" required)

    .form-field
      button.submit-button(type="submit") login

  p #{status}
