extends parents/master-layout

block styles
  include /styles/main.css

block scripts
  include /scripts/login.js

block content
  form(action="" method="POST")

    .form-field.form-title
      h2 Login

    .form-field
      label(for="username") username
      input.input-string#username(type="text" name="username" required autofocus)

    .form-field
      label(for="password") password
      input.input-string#password(type="password" name="password" required)
      button#showPswdButton(type="button") show

    .form-field
      button.submit-button(type="submit") login

  p #{status}
