extends parents/master-layout

block styles
  include /styles/main.css

block content
  form(action="/logout" method="POST")

    .form-field.form-title
      h2 Logout

    .form-field
      p You are logged in as #{username}

    .form-field
      button.submit-button(type="submit") logout
