extends parents/master-layout

block styles
  include /styles/main.css

block scripts
  include /scripts/register.js

block content
  form(action="" method="POST")

    .form-field.form-title
      h2 User Registration

    .form-field
      label(for="username") username
      input.string#username(type="text" name="username" required autofocus)

    .form-field
      label(for="email") email
      input.string#email(type="email" name="email" required)

    .form-field
      label(for="password") password
      input.string#password(type="password" name="password" required)

    .form-field
      label(for="confirm") confirm password
      input.string#confirm(type="password" name="confirm" required)

    .form-field
      button.submit-button(type="submit") register
