extends parents/master-layout

block styles
  include /styles/main.css

block scripts
  include /scripts/register.js

block content
  form(action="" method="POST")

    .form-field.form-title
      h2 User Registration

    .form-field
      label(for="username") username
      input.input-string(type="text" id="username" name="username" required autofocus)

    .form-field
      label(for="email") email
      input.input-string(type="email" id="email" name="email" required)

    .form-field
      label(for="password") password
      input.input-string(type="password" id="password" name="password" required)

    .form-field
      label(for="confirm") confirm password
      input.input-string(type="password" id="confirm" name="confirm" required)

    .form-field
      button.submit-button(type="submit" id="submit") register
