extends parents/master-layout

block styles
  include /styles/main.css

block scripts
  include /scripts/register.js

block content
  form(action="" method="POST")

    .form-field.form-title
      h2 User Registration

    .form-field
      label(for="username") username
      input.input-string(required type="text" id="username" name="username")

    .form-field
      label(for="email") email
      input.input-string(required type="email" id="email" name="email")

    .form-field
      label(for="password") password
      input.input-string(required type="password" id="password" name="password")

    .form-field
      label(for="confirm") confirm password
      input.input-string(required type="password" id="confirm" name="confirm")

    .form-field
      button.submit-button(type="submit" id="submit") register
