extends layout

block scripts
  script(src="/scripts/register.js" defer)

block content
  form(action="/register" method="POST")
    .form-field.form-title
      h2 User Registration

    .form-field
      label(for="username") username
      input.input-string(required type="text" id="username" name="username")

    .form-field
      label(for="email") email
      input.input-string(required type="email" id="email" name="email")

    .form-field
      label(for="password") password
      input.input-string(required type="password" id="password" name="password")

    .form-field
      label(for="confirm") confirm password
      input.input-string(required type="password" id="confirm" name="confirm")

    .form-field
      button.submit-button(type="submit" id="submit") register
