extends layout

block content
  h1 Register

  form(action="/register" method="POST")
    .form-field
      label(for="username") username
      input.input-string(required type="text" id="username" name="username")

    .form-field
      label(for="email") email
      input.input-string(required type="email" id="email" name="email")

    .form-field
      label(for="password") password
      input.input-string(required type="password" id="password" name="password")

    .form-field
      button.submit-button(type="submit") send

  a(href="/login") login
