doctype html

html(lang="en")
  head
    title #{title}
    meta(charset="UTF-8")
    link(rel="icon" href="/images/favicon.png")
    style
      include /styles/initialize.css
      block styles

  body
    main
      block content

  script
    block scripts
